

@media (max-width:1024px) {

    /* about section */
}

@media (max-width: 991px) {

    /* custom classes */
.text-content{
    width: 100%;
}

    /* navbar brand */
.navigation-wrap .nav-link{
    height: 3.8125rem;
}

.navigation-wrap{
    text-align: center;
    background-color: var(--white-color);
}


    /* banner design */
.top-banner{
    padding: 60px;
}

    /* carousel design */
.testimonial-section .carousel-item .carousel-caption p{
    padding: 0; 
}

}

@media (max-width: 767px) {

    /* custom css */
    h1 {
        font-size: 2.8rem;
    }

    h2 {
       font-size-adjust: 2rem;
       line-height: 2.0625rem; 
    }


    /* top banner */
.top-banner {
    padding: 60px;
}

    /* story section */
.story-section{
    height: auto;
    padding: 3rem 0;
}

/* carousel design */

.testimonial-section .carousel-item {
    padding: 11rem 3.125rem;
}

/* newsletter */
.newsletter{
    width: 75%;
}

.newsletter .main-btn{
    width: 100%;
    margin-top: 1rem;
}



@media (max-width: 330px){
   
    /* carousel design */
    .testimonial-section .carousel-item {
        padding: 13rem 3.125rem;
    }
}